@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@300&display=swap');

html { 
    scroll-behavior: smooth; /* Used to give a slower scroll when clicking reference buttons */
    overflow-x: hidden;
}

:root {
    --firstbackgroundcolor: #D5DAE1;
    --secbackgroundcolor: #EFEFEF;
    --whitecolor: white;
    --blackcolor: black;
    --regbuttoncolor: #5497F8;
    --hovbuttoncolor: #0E56F1;
    --boxshadow: #959595;
    --h3size: 1.3rem;
    --basefsize: 1rem;
    --descriptionsize: 1.2rem;
    --headfoot: #C7C7C7;
}

body { /* This removes the space in the sections if padding and margin are not zero */
    background-color: var(--firstbackgroundcolor);
    padding: 0px;
    margin: 0px;
    font-family: "Roboto";
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

/* THIS CONTAINS THE SIGN UP SHOWUP MENU STYLES */
.sign-up-form {
    display: none;
    position: absolute;
}

.title {
    font-size: 2.2rem;
    color: var(--blackcolor);
    margin-bottom: 0.55rem;
}

.input-field {
    max-width: 320px;
    width: 100%;
    background-color: var(--whitecolor);
    margin: 10px 0;
    border-radius: 3.5rem;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: var(--blackcolor);
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "Roboto";
}

.input-field input::placeholder {
    color: var(--boxshadow);
    font-weight: 500;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: var(--regbuttoncolor);
    border-radius: 50%;
    border: 1px solid var(--regbuttoncolor);
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s ease;
    margin-bottom: 2rem;
}

.social-icon:hover {
    color: var(--hovbuttoncolor);
    border-color: var(--hovbuttoncolor);
}

.remove {
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: rgba(214, 66, 66, 0.80);
    padding: 0.3rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
    font-weight: bold;
}

.remove:hover {
    cursor: pointer;
    background-color: rgba(233, 16, 16, 0.942);
}

.btn {
    width: 150px;
    background-color: var(--regbuttoncolor);
    border: none;
    height: 3rem;
    border-radius: 3.5rem;
    color: var(--whitecolor);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--hovbuttoncolor);
}

/* Active section for "form" */
.sign-up-form.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--headfoot);
    width: 360px;
    border-radius: 3rem;
}

/* THIS SECTION CONTAINS THE HEADER ELEMENTS ONLY */

#header {
    background-color: var(--headfoot);
    box-shadow: 0rem 0.5rem 5rem 0.5rem var(--boxshadow);
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

#logo { /* This is the image logo itself */
    width: 7rem;
    margin: 0.75rem;
}

#image-logo { /* This div contains the image logo. Used to center it*/
    width: 30%;
    margin-left: 4rem;
}

.sections { /* Contains all the header's buttons */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    transition: 0.3s ease;
}

.button, .signup { /* Format for all "a" buttons */
    margin: 0.6rem;
    padding: 0.4rem;
    background-color: var(--regbuttoncolor);
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 1.5rem;
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--blackcolor);
}

.button:hover, .signup:hover { /* Format for buttons with mouse over it */
    color: var(--whitecolor);
    background-color: var(--hovbuttoncolor);
    cursor: pointer;
}

/* THIS WHOLE SECTION CONTAINS THE MAIN BODY */

main {
    display: flex;
    flex-direction: column;
}

/* MAIN DIVISION DIV */

#main-page {
    text-align: center;
    font-size: large;
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
}

#candle-logo { /* Image with candlesticks from TradingView */
    height: 300px;
    width: 800px;
}

#paragraph-mp { 
    font-size: var(--descriptionsize);
    margin-bottom: 2rem;
}

#join {
    font-weight: bolder;
    background-color: var(--regbuttoncolor);
    border-radius: 2rem;
    font-size: 2.3rem;
    text-decoration: none;
    color: var(--blackcolor);
    padding: 0.7rem;
    transition: 0.3s ease;
    display: inline-block; /* This allows the "transform: scale()" property to work. It doesn't work with inline elements */
    margin-bottom: 3rem;
}

#join:hover {
    color: var(--whitecolor);
    background-color: var(--hovbuttoncolor);
    cursor: pointer;
    transform: scale(1.25);
}

/* API INFO SECTION */

.swiper-title {
    margin-bottom: 2.5rem;
}

.swiper {
    width: 400px;
    height: 200px;
    background-color: var(--secbackgroundcolor);
    border-radius: 30px;
}

.pair-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

.pair-container img {
    width: 60px;
}

.first-span {
    font-weight: bold;
}

.first-span, .sec-span {
    font-size: 1.2rem;
}

.pair-container img, .first-span, .sec-span {
    margin: 6px;
}

/* HOW IT WORKS DIV */

#Howitworks {
    background-color: var(--secbackgroundcolor);
    box-shadow: 0rem 0.2rem 2rem 0.2rem var(--boxshadow);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 { /* This class contains the format for every title starting at "How it works" section until the end of page */
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5rem;
}

.borderbottom {
    border-bottom: 1px solid gray;
    width: 320px;
    margin-bottom: 2rem;
}

#how-it-works { /* This is a div contained within the Howitworks section */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.works { /* Class for each section inside the How it works section */
    margin: 1.15rem;
    width: 350px;
    text-align: center;
    border-style: none;
    border-radius: 20px;
    background-color: var(--firstbackgroundcolor);
}

.phases { /* Class for each Phase image */
    height: 150px;
    width: 150px;
    padding: 0.5rem;
}

h3 { /* Format for roundbox text */
    font-size: var(--h3size);
    margin: 0.3rem;
}

.phase-description { /* Div for paragraph description inside the How it works section */
    font-size: var(--basefsize);
    padding: 5px;
    margin: 0 15px 30px;
    border-style: ridge;
    border-color: var(--regbuttoncolor);
    border-radius: 15px;
    background-color: var(--secbackgroundcolor);
    transition: 0.3s ease;
}

.phase-description:hover, .benefit-text:hover {
    color: var(--whitecolor);
    background-color: var(--hovbuttoncolor);
}

/* PROGRAMS SECTION */

#programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#program-paragraph {
    font-size: var(--descriptionsize);
    margin: 0rem 7rem;
    text-align: justify;
}

/* First table */
#balance {
    font-size: 1.25rem;
    font-weight: bold;
    display: none;
    margin-left: 0;
}

#table-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0rem;
    width: 100%;
}

#select-buttons, #comparison {
    margin: 0.75rem;
    width: 100%;
    text-align: center;
}

#select-buttons {
    display: none;
    margin-left: 0;
    margin-bottom: 2rem;
}

.sbutton, #comparison a {
    background-color: var(--regbuttoncolor);
    color: var(--whitecolor);
    padding: 0.7rem 1.30rem;
    margin: 0.5rem;
    border-radius: 0.75rem;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
}

.sbutton:hover, #comparison a:hover {
    background-color: var(--hovbuttoncolor);
    font-weight: bolder;
    cursor: pointer;
}

#table-single {
    margin-bottom: 5rem;
    display: none;
}

#table1 th, #table1 td{
    padding: 1rem 3rem;
    text-align: center;
}

/* Active class for table1 elements */
#table-single.active, #select-buttons.active, #balance.active {
    display: block;
}

/* Second table */
#table2 {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8rem;
    margin-top: 2rem;
}

#table2 th {
    padding: 1.2rem;
}

#table2 td {
    padding: 0.95rem;
    border: solid 2px var(--firstbackgroundcolor); /* How can I delete the space between bottom lines in cells? */
}

.first-row {
    background-color: var(--hovbuttoncolor); /* This gives background to the first column and the first row */
    font-size: var(--descriptionsize);
    color: var(--whitecolor);
}

.first-column { /* This gives background to the first column and the first row */
    background-color: var(--hovbuttoncolor);
    font-size: 1rem;
    font-weight: bold;
    color: var(--whitecolor);
}

.missing-row-cell { /* Eliminates the first cell in the first column */
    border-bottom: solid 1px var(--firstbackgroundcolor) !important;
}

.rest-of-table {
    background-color: var(--secbackgroundcolor);
}

.buy-button { /* Style for "Buy" buttons in the table of Programs' section */
    background-color: var(--regbuttoncolor);
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 1rem;
    transition: 0.3s ease;
    color: var(--whitecolor);
    border-color: var(--regbuttoncolor);
}

.buy-button:hover {
    background-color: var(--hovbuttoncolor);
    cursor: pointer;
}

/* Active class for table2 */
#table-section.active {
    display: none;
    transition: 0.3s ease;
}

/* BENEFITS SECTION */

#benefits {
    width: 100%;
    background-color: var(--secbackgroundcolor);
    box-shadow: 0rem 0.5rem 5rem 0.5rem var(--boxshadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#benefits-paragraph {
    text-align: center;
    font-size: var(--descriptionsize);
    margin: 0rem 8rem;
}

#benefits-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.benefit {
    width: 320px;
    height: 400px;
    margin: 1rem;
    background-color: var(--firstbackgroundcolor);
    border-style: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-image { /* Adjust one size for all images within sections */
    display: flex;
    justify-content: center;
}

.benefit-images { /* Used to fix images to correct height of the div it's in */
    height: 120px;
    margin: 1rem;
}

.benefit-title-number {
    color: gray;
    font-size: 2rem;
}

.benefit-text {
    text-align: center;
    padding: 0.4rem;
    margin: 1rem;
    border-style: ridge;
    border-color: var(--regbuttoncolor);
    border-radius: 1rem;
    background-color: var(--secbackgroundcolor);
    transition: 0.3s ease;
}

/* TESTIMONIES DIV */

#testimonies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedbacks{ /* To center every recommendation div */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}

.feedback { /* Style for every recommendation/feedback section, both fixed or entered by user */
    background-color: var(--secbackgroundcolor);
    font-style: italic;
    font-weight: bold;
    margin: 1rem;
    padding: 2rem;
    width: 300px;
    border-style: none;
    border-radius: 20px;
    border-width: 2px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* CONTACT SECTION */
#contacttitle {
    background-color: var(--secbackgroundcolor);
    box-shadow: 0rem 0.5rem 5rem 0.5rem var(--boxshadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#margin-title {
    margin-top: 8rem;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

#textbox { /* Second div with information and formulary  */
    background-color: var(--firstbackgroundcolor);
    margin: 4rem;
    border-style: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

#information { /* Fixed information */
    width: 50%;
    text-align: center;
}

#formulary { /* Formulary  */
    width: 50%;
    margin-top: 2rem;
}

.asterisk {
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

::placeholder{ /* Format for the font-family in placeholder's input */
    font-family: "Roboto";
    font-style: italic;
}

#information {
    font-size: 1rem;
}

#formulary {
    text-align: start;
}

#formulary h3, #information h3 {
    font-size: var(--h3size);
}

.input { /* Moving input area from the left extreme */
    width: 80%;
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1rem;
}

input {
    margin-bottom: 0.5rem;
}

#submit {
    margin-left: 2rem;
    background-color: var(--regbuttoncolor);
    font-family: "Roboto";
    font-size: 1.15rem;
    padding: 1rem;
    border-radius: 2rem;
    width: 100px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--regbuttoncolor)
}

#submit:hover {
    background-color: var(--hovbuttoncolor);
    color: var(--whitecolor);
    font-weight: bold;
}

 /* SCROLLUP BUTTON */

.iconbutton{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--regbuttoncolor);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.iconbutton:hover{
    background-color: var(--hovbuttoncolor);
}

/* END OF MAIN SECTION */

/* FOOTER */

#footer { 
    width: 100%;
    height: 100%;
    background-color: var(--headfoot);
    box-shadow: 0rem 0.5rem 5rem 0.5rem var(--boxshadow);
}

#info {
    display: flex;
}

#info-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    height: 80px;
}

#info-text {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.footer-paragraph {
    margin: 0.3rem;
}

.footer-paragraph:hover {
    cursor: pointer;
    color: var(--hovbuttoncolor);
}

#info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fa-brands { /* Format for all icons */
    color: var(--regbuttoncolor);
    margin: 0.6rem;
    font-size: 2rem;
    transition: 0.3s ease;
}

.fa-brands:hover {
    color: var(--hovbuttoncolor);
    cursor: pointer;
    bottom: 0.3rem;
    transform: translateY(-0.3rem);
}

#notice-paragraph {
    font-size: 0.8rem;
    margin: 1.5rem;
}

#copyright {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media screen and (max-width: 1155px) {
    .button, .signup {
        font-size: 1rem;
    }
    #table2 th, #table2 td {
        padding: 0.5rem;
    }
    #textbox {
        width: 800px;
    }
}

@media screen and (max-width: 1000px) {
    #footer {
        font-size: 0.75rem;
    }
    .fa-brands { /* Format for all icons */
        margin: 0.5rem;
        font-size: 1.5rem;
    }
    #notice-paragraph {
        font-size: 0.6rem;
        margin: 1.2rem;
    }
    #candle-logo {
        width: 600px;
        height: 250px;
    }
    #textbox {
        width: 700px;
    }
}

@media screen and (max-width: 925px) {
    .button, .signup {
        font-size: 0.8rem;
        padding: 0.3rem;
        margin: 0.4rem;
    }
    .first-column, .first-row, .rest-of-table, .buy-button {
        font-size: 0.8rem;
    }
    #benefits-paragraph, #program-paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 725px) {
    .button, .signup {
        font-size: 0.65rem;
    }
    .iconbutton {
        width: 32px;
        height: 32px;
    }
    svg {
        width: 40px;
    }
    #textbox {
        width: 500px;
    }
    #information h3, #formulary h3{
        font-size: 1rem;
    }
    #information p, .input{
        font-size: 0.8rem;
    }
    #submit {
        font-size: 0.8rem;
    }
    .input {
        margin-left: 0;
    }
    #comparison a, .sbutton {
        font-size: 0.85rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 660px) {
    #candle-logo {
        width: 400px;
        height: 180px;
    }
    .first-column, .first-row, .rest-of-table, .buy-button {
        font-size: 0.65rem;
    }
    #benefits-paragraph {
        margin: 0rem 5rem;
    }
    .sections {
        display: none;
    }
    #info-icon {
        flex-wrap: wrap;
    }
    .fa-brands {
        font-size: 1.2rem;
        margin: 0.3rem;
    }
    #info-text {
        font-size: 0.65rem;
    }
    #notice-paragraph {
        font-size: 0.55rem;
    }
    /* Active styles for .sections buttons */
    .sections.active {
        position: absolute;
        top: 85px;
        right: 0;
        width: 100%;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background: var(--headfoot);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0px 5px 5px var(--boxshadow);
    }
    /* Active styles for buttons */
    .button.active, .signup.active {
        font-size: 0.9rem;
        margin: 0.3rem 0.8rem;
    }
    .toggle {
        position: absolute;
        width: 32px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        top: 25px;
        right: 30px;
    }
    /* Toggle "div" with after and before elements to simulate a sandwich dropdown menu */
    .toggle::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--regbuttoncolor);
        transform: translateY(-10px);
        box-shadow: 0 10px 0 var(--regbuttoncolor);
        transition: 0.25s;
    }
    .toggle::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--regbuttoncolor);
        transform: translateY(10px);
        transition: 0.25s;
    }
    /* Active styles for the clicked toggle button */
    .toggle.active {
        right: 30px;
    }
      .toggle.active::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 var(--regbuttoncolor);
    }
      .toggle.active::after {
        transform: translateY(0px) rotate(-45deg);
    }
    #textbox { /* Second div with information and formulary  */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 3rem 0rem;
        width: 80%;
    }
    #formulary {
        width: 80%;
    }
    #contact-font {
        font-size: 2.5rem;
    }
    #information {
        border-bottom: 1px solid var(--blackcolor);
    }
    .input { /* Moving input area from the left extreme */
    margin-left: 1rem;
    }
    #table1 th, #table1 td {
        padding: 0.8rem 1.2rem ;
        font-size: 0.85rem;
        margin: 0;
    }
}

@media screen and (max-width: 540px) {
    .first-column, .first-row, .rest-of-table, .buy-button, #table1 {
        font-size: 0.55rem;
        padding: 0.15rem;
        margin: 0.15rem;
    }
    #benefits-paragraph, #program-paragraph {
        margin: 0rem 3.5rem;
    }
    #table1 td {
        padding: 0.5rem;
    }
    #comparison a, .sbutton {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 450px) {
    .first-column, .first-row, .rest-of-table, .buy-button {
        font-size: 0.42rem;
        padding: 0;
        margin: 0;
    }
    #benefits-paragraph, #program-paragraph {
        font-size: 0.8rem;
        margin: 0rem 2.5rem;
    }
    #candle-logo {
        width: 300px;
        height: 170px;
    }
    #image-logo { /* This div contains the image logo. Used to center it*/
        margin-left: 0rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    hr:first-of-type {
      margin: 3rem 0;  
    }
    #paragraph-mp {
        margin: 3rem 0;
    }
    .works {
        width: 100%;
    }
    .phases {
        height: 100px;
        width: 100px;
    }
    .phase-description, .benefit-text{
        font-size: 0.85rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .benefit {
        width: 100%;
        height: 350px;
    }
    .benefit-images { /* Used to fix images to correct height of the div it's in */
        height: 100px;
    }
    .feedback {
        width: 100%;
    }
    #lasthr {
        margin: 0rem 0;  
    }
    #notice-paragraph {
        font-size: 0.5rem;
        margin: 0.5rem;
    }
    .footer-paragraph {
        font-size: 0.6rem;
    }
    #submit {
        margin-left: 4.5rem;
    }
    #comparison a, .sbutton{
        font-size: 0.75rem;
        padding: 0.4rem;
        margin: 0rem 0rem;
    }
    #table1 td, #table1 th {
        font-size: 0.7rem;
        padding: 0.75rem;
    }
    #table-buttons {
        width: 100%;
        margin: 0;
    }
    #balance {
        width: 100%;
        text-align: center;
    }
    #comparison {
        width: 100%;
    }
    .sbutton {
        margin-bottom: 0.4rem;
    }
    #balance {
        font-size: 0.85rem;
        margin: 0;
    }
    #table2 td, #table2 th {
        font-size: 0.52rem;
        padding: 0.15rem;
    }
    .swiper {
        width: 300px;
        height: 150px;
    }
    .first-span, .sec-span {
        font-size: 1rem;
    }
}